@import "../../../assets/styles/main";

.btn {
    @include box-shadow(0 rem(20) rem(25) rgba(32, 31, 54, 0.15));

    @extend %display-flex;
    @extend %align-items-center;
    @extend %justify-content-center;
    @extend %text-center;
    @extend %text-transform-uppercase;
    @extend %position-absolute;
    @extend %cursor-pointer;

    font-family: $font-family-main;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: $font-size-sm;
    line-height: rem(12);
    letter-spacing: rem(0.48);
    border: 0;
    width: rem(170);
    outline: none;
    bottom: rem(-25.5);
    padding-top: rem(20);
    padding-bottom: rem(19.5);
    margin-right: rem(50);

    @include media-medium-up() {
        right: 0;
        bottom: rem(-25.5);
        left: auto;
        width: rem(186);
        margin-right: 0;
        font-size: $font-size-xs;
    }

    &-primary {
        color: $color-white;
        background: linear-gradient(90deg, $primary-lighter-color -0.43%, $primary-color 100.43%);
    }
}