@import "../../../assets/styles/main";

.box {
    @extend %display-flex;
    @extend %justify-content-center;

    margin-top: rem(28);

    &__content {
        @include box-shadow(0 rem(20) rem(25) rgba(32, 31, 54, 0.15));

        @extend %position-relative;
        @extend %display-flex;
        @extend %justify-content-center;

        background: linear-gradient(5.88deg, rgba(165, 165, 180, 0.15) 4.19%, rgba(228, 235, 239, 0.15) 95.81%, rgba(231, 232, 238, 0.15) 95.81%, rgba(231, 232, 238, 0.15) 95.81%), #FCFCFD;
        width: rem(292);
        padding: rem(15) rem(13) rem(80) rem(15);
        box-sizing: border-box;

        @include media-smaller-up() {
            width: 100%;
            margin: 0 rem(15);
        }

        @include media-medium-up() {
            @include box-shadow(none);

            padding: rem(15) rem(13) rem(160) rem(15);
            margin: 0;
        }

        &:before {
            @extend %position-absolute;
            @extend %content-empty;

            mix-blend-mode: normal;
            width: rem(70);
            height: rem(2);
            background-color: $secondary;
            left: rem(16);
            opacity: 1;
            top: rem(-1);

            @include media-medium-up() {
                left: rem(50);
            }
        }

        @include media-medium-up() {
            padding: rem(42) rem(51);
            width: rem(472);
        }
    }
}